.modebar{
      display: none !important;
}
.bottom-three {
     margin-bottom: 3cm;
  }
.bottom-two {
     margin-bottom: 2cm;
  }
.bottom-one {
     margin-bottom: 1cm;
  }



.jumbotron {
    background-image: url('pics/8-2.jpg');
    background-size: 45%;
    background-attachment: fixed;
}

p.thick {font-weight:bold;}

#plot {
  height: 200px;
}


#matrix input {
  width: 4em;
}

#graph svg circle {
  cursor: pointer;
}

#graph svg text {
  cursor: pointer;
}

#stats table {
  border: none;
}

#stats table th {
  border-bottom: 1px solid black;
  text-align: right;
}

#stats td {
  text-align: right;
  width: 50px;  
}

#stats td:first-child {
  width: 100px;
  text-align: left;
}
  
#buttons {
  font-size: 11pt;
}

#buttons span {
  margin-left: 1em;
}

#buttons input {
  margin-left: 1em;
  width: 6em;
}
  

h1.ontop {
  position: relative;
  top: -3.5em;
  margin-bottom: -3.5em;
}

p.ontop {
  position: relative;
  top: -6.0em;
  margin-bottom: -4.5em;
}


.bar {
  height: 10em;
  padding-top: 2em;
  opacity: 0.333;
  background: #ffffff;
  /*border-top: 3px solid #ccc;*/
  /*border-bottom: 3px solid #ccc;*/
  margin-top: 0.0em;
}